.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-gray{
    background-color: #1f1f1f;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

p-1{
    padding: 10px;
}

/* For WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #1e1e1e; /* Dark track background */
    border-radius: 5px; /* Optional rounded corners */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #444; /* Darker thumb */
    border-radius: 5px; /* Rounded corners for the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #666; /* Slightly lighter thumb on hover */
  }
  
  /* For Firefox */
  html {
    scrollbar-width: thin;                       /*Thin scrollbar*/
    scrollbar-color: #444 #1e1e1e;               /*Thumb and track colors*/
  }
  